<header>
    <div class="logo">
        <span>Mon logo</span>
    </div>
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Prix mat</a></li>
        <li><a href="#">Prix reparation</a></li>
        <li><a href="#">Prix deblocage</a></li>
    </ul>
</header>